FPGDOD/samples/t.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="main">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DATA_RECORD" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="EDIPI"/>
              <xs:element type="xs:string" name="SITEID"/>
              <xs:element type="xs:string" name="MONIKER"/>
              <xs:element type="xs:string" name="SOURCESYSTEM"/>
              <xs:element type="xs:string" name="FETCHEDFROM"/>
              <xs:element type="xs:string" name="FETCHEDAT"/>
              <xs:element type="xs:string" name="FETCHEDWITH"/>
              <xs:element type="xs:string" name="ENCOUNTER_NUMBER"/>
              <xs:element type="xs:string" name="PERFORMING_CLINICIAN_NCID"/>
              <xs:element type="xs:string" name="PERFORMING_CLINICIAN"/>
              <xs:element type="xs:string" name="EVENT_START_GMTIME"/>
              <xs:element type="xs:string" name="ENTERED_BY_TIME"/>
              <xs:element type="xs:string" name="OBSERVATION_NCID"/>
              <xs:element type="xs:string" name="TEST_VALUE_NUMBER"/>
              <xs:element type="xs:string" name="UNITS_NCID"/>
              <xs:element type="xs:string" name="OBSERVATION_SEQUENCE"/>
              <xs:element type="xs:string" name="EVENT_ID"/>
              <xs:element type="xs:string" name="EDIT_VERSION"/>
              <xs:element type="xs:string" name="FACILITY_NCID"/>
              <xs:element type="xs:string" name="FACILITY_NAME"/>
              <xs:element type="xs:string" name="DMIS_ID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>