EHMP/samples/med.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="med">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="apiVersion"/>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="updated"/>
              <xs:element type="xs:string" name="totalItems"/>
              <xs:element type="xs:string" name="currentItemCount"/>
              <xs:element name="items" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="IMO"/>
                    <xs:element name="codes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="code"/>
                          <xs:element type="xs:string" name="display"/>
                          <xs:element type="xs:string" name="system"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dosages">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="amount"/>
                          <xs:element type="xs:string" name="dose"/>
                          <xs:element type="xs:string" name="instructions"/>
                          <xs:element type="xs:string" name="noun"/>
                          <xs:element type="xs:string" name="relativeStart"/>
                          <xs:element type="xs:string" name="relativeStop"/>
                          <xs:element type="xs:string" name="routeName"/>
                          <xs:element type="xs:string" name="scheduleFreq" minOccurs="0"/>
                          <xs:element type="xs:string" name="scheduleName"/>
                          <xs:element type="xs:string" name="scheduleType" minOccurs="0"/>
                          <xs:element type="xs:string" name="start" minOccurs="0"/>
                          <xs:element type="xs:string" name="stop" minOccurs="0"/>
                          <xs:element type="xs:string" name="startDateString" minOccurs="0"/>
                          <xs:element type="xs:string" name="stopDateString" minOccurs="0"/>
                          <xs:element type="xs:string" name="summary"/>
                          <xs:element type="xs:string" name="units"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="facilityCode"/>
                    <xs:element type="xs:string" name="facilityName"/>
                    <xs:element name="fills" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="daysSupplyDispensed"/>
                          <xs:element type="xs:string" name="dispenseDate"/>
                          <xs:element type="xs:string" name="quantityDispensed"/>
                          <xs:element type="xs:string" name="releaseDate"/>
                          <xs:element type="xs:string" name="routing"/>
                          <xs:element type="xs:string" name="summary"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="kind"/>
                    <xs:element type="xs:string" name="lastFilled" minOccurs="0"/>
                    <xs:element type="xs:string" name="lastUpdateTime"/>
                    <xs:element type="xs:string" name="localId"/>
                    <xs:element type="xs:string" name="medOrderSettingType"/>
                    <xs:element type="xs:string" name="medStatus"/>
                    <xs:element type="xs:string" name="medStatusName"/>
                    <xs:element type="xs:string" name="medType"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="orders">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="daysSupply" minOccurs="0"/>
                          <xs:element type="xs:string" name="fillCost" minOccurs="0"/>
                          <xs:element type="xs:string" name="fillsAllowed" minOccurs="0"/>
                          <xs:element type="xs:string" name="fillsRemaining" minOccurs="0"/>
                          <xs:element type="xs:string" name="locationName" minOccurs="0"/>
                          <xs:element type="xs:string" name="locationUid" minOccurs="0"/>
                          <xs:element type="xs:string" name="orderUid"/>
                          <xs:element type="xs:string" name="ordered"/>
                          <xs:element type="xs:string" name="pharmacistName" minOccurs="0"/>
                          <xs:element type="xs:string" name="pharmacistUid" minOccurs="0"/>
                          <xs:element type="xs:string" name="predecessor" minOccurs="0"/>
                          <xs:element type="xs:string" name="prescriptionId" minOccurs="0"/>
                          <xs:element type="xs:string" name="providerName"/>
                          <xs:element type="xs:string" name="providerUid"/>
                          <xs:element type="xs:string" name="quantityOrdered" minOccurs="0"/>
                          <xs:element type="xs:string" name="successor" minOccurs="0"/>
                          <xs:element type="xs:string" name="summary"/>
                          <xs:element type="xs:string" name="vaRouting" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="overallStart"/>
                    <xs:element type="xs:string" name="overallStop"/>
                    <xs:element type="xs:string" name="patientInstruction" minOccurs="0"/>
                    <xs:element type="xs:string" name="pid"/>
                    <xs:element type="xs:string" name="productFormName"/>
                    <xs:element name="products">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="drugClassCode"/>
                          <xs:element type="xs:string" name="drugClassName"/>
                          <xs:element type="xs:string" name="ingredientCode"/>
                          <xs:element type="xs:string" name="ingredientCodeName"/>
                          <xs:element type="xs:string" name="ingredientName"/>
                          <xs:element type="xs:string" name="ingredientRXNCode"/>
                          <xs:element type="xs:string" name="ingredientRole"/>
                          <xs:element type="xs:string" name="strength"/>
                          <xs:element type="xs:string" name="summary"/>
                          <xs:element type="xs:string" name="suppliedCode"/>
                          <xs:element type="xs:string" name="suppliedName"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="qualifiedName"/>
                    <xs:element type="xs:string" name="rxncodes" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element type="xs:string" name="sig"/>
                    <xs:element type="xs:string" name="stampTime"/>
                    <xs:element type="xs:string" name="stopped" minOccurs="0"/>
                    <xs:element type="xs:string" name="summary"/>
                    <xs:element type="xs:string" name="supply"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="uid"/>
                    <xs:element type="xs:string" name="units"/>
                    <xs:element type="xs:string" name="vaStatus"/>
                    <xs:element type="xs:string" name="vaType"/>
                    <xs:element type="xs:string" name="calculatedStatus"/>
                    <xs:element type="xs:string" name="lastAction"/>
                    <xs:element type="xs:string" name="expirationDate"/>
                    <xs:element type="xs:string" name="recent"/>
                    <xs:element type="xs:string" name="normalizedName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>